@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+CJK+JP:wght@400;500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-noto-sans-cjk-jp: "Noto Sans CJK JP";

  /* font sizes */
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-smi: 13px;

  /* Colors */
  --color-white: #fff;
  --color-mediumblue: #0516ba;
  --color-steelblue: #36547e;
  --color-gray-100: #202124;
  --color-gray-200: #1c1d1d;
  --color-aliceblue: #eceff5;
  --color-darkgray: #abb1ba;
  --color-darkslateblue: #173c6c;
  --color-lightsteelblue: #b6c7de;

  /* Gaps */
  --gap-25xl: 44px;
  --gap-xl: 20px;

  /* border radiuses */
  --br-7xs: 6px;
  --br-8xs: 5px;
  --br-10xs: 3px;
  --br-mini: 15px;
}
